<div class="modal-header">
    <h3>{{'resetando senha do usuário ' + user?.nome}}</h3>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(null)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>preencha as informações relevantes ao reset de senha de {{user?.id ? user.nome : ''}}</p>

    <form [formGroup]="resetPasswordForm">

        <input formControlName="id" type="hidden">

        <div class="form-group">
            <label>Senha do usuário</label>
            <label class="required-info-asterisk">*</label>
            <input class="form-control" type="password" [ngClass]="{'is-invalid': isFieldInvalid('senha')}"
                formControlName="senha" placeholder="digite a senha do usuário" name="senha" required>
            <div class="invalid-feedback" *ngIf="isFieldInvalid('senha')">
                Favor inserir a 'Senha do Usuário'!
            </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn bg-dark" [disabled]="!resetPasswordForm.valid" (click)="resetPassword()">Resetar Senha</button>
</div>