<div class="modal-header">
  <h3>
    {{
      !establishment?.id
        ? "Novo Estabelecimento"
        : "editando estabelecimento " + establishment?.nome
    }}
  </h3>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss(null)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>
    preencha as informações relevantes do estabelecimento
    {{ establishment?.id ? establishment.nome : "" }}
  </p>

  <form [formGroup]="establishmentForm">
    <input formControlName="id" type="hidden" />
    <input formControlName="id_tipo" type="hidden" />
    <input formControlName="id_pai" type="hidden" />
    <div class="image-upload">
      <label>
        <img
          id="blah"
          [src]="file"
          width="140"
          height="120"
        />
        <input
          type="file"
          #fileUpload
          onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])"
        />
      </label>
    </div>
    <div class="form-group">
      <label>Nome do Estabelecimento</label>
      <label class="required-info-asterisk">*</label>
      <input
        class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('nome') }"
        formControlName="nome"
        placeholder="digite o nome do estabelecimento"
        name="nome"
        maxlength="200"
        required
      />
      <div class="invalid-feedback" *ngIf="isFieldInvalid('nome')">
        Favor inserir o 'Nome do Estabelecimento'!
      </div>
    </div>
    <!-- <div class="form-group">
      <label>Escolha o Logo do Estabelecimento</label>
      <label class="required-info-asterisk">*</label>
      <input type="file" (change)="readURL($event)" />
      <img
        id="blah"
        [src]="imageSrc || 'http://placehold.it/180'"
        alt="your image"
        style="max-width: 180px;max-height: 180px;"
      />
    </div> -->

    <!-- <div class="form-group">
            <label>Descrição do Estabelecimento</label>
            <label class="required-info-asterisk">*</label>
            <textarea class="form-control" [ngClass]="{'is-invalid': isFieldInvalid('descricao')}" formControlName="descricao"
                placeholder="digite a descrição do estabelecimento" maxlength="500" name="descricao"></textarea>
        </div> -->

    <!-- <div class="form-group">
      <label>Categoria do Estabelecimento</label>
      <label class="required-info-asterisk">*</label>
      <p-dropdown
        required="true"
        [options]="categories"
        [filter]="true"
        placeholder="Selecione a Categoria"
        [style]="{ width: '100%', 'backgroud-color': 'white' }"
        optionLabel="nome"
        formControlName="id_categoria"
        required
      ></p-dropdown>
      <div class="invalid-feedback" *ngIf="isFieldInvalid('categoria')">
        Favor inserir o 'Categoria do Estabelecimento'!
      </div>
    </div> -->

    <div class="form-group">
      <label>Nome do Contato da Estabelecimento</label>
      <label class="required-info-asterisk">*</label>
      <input
        class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('contato_nome') }"
        formControlName="contato_nome"
        placeholder="digite o nome do contato do estabelecimento"
        name="contato_nome"
        maxlength="200"
        required
      />
      <div class="invalid-feedback" *ngIf="isFieldInvalid('contato_nome')">
        Favor inserir o 'Nome do Contato do Estabelecimento'!
      </div>
    </div>

    <!-- <div class="form-group">
      <label>E-mail do Contato do Estabelecimento</label>
      <label class="required-info-asterisk">*</label>
      <input
        class="form-control"
        type="email"
        [ngClass]="{ 'is-invalid': isFieldInvalid('contato_email') }"
        formControlName="contato_email"
        placeholder="digite o e-mail do contato do estabelecimento"
        name="contato_email"
        maxlength="200"
        required
      />
      <div class="invalid-feedback" *ngIf="isFieldInvalid('contato_email')">
        Favor inserir o 'E-mail do Contato do Estabelecimento'!
      </div>
    </div> -->

    <div class="form-group">
      <label>Telefone do Estabelecimento</label>
      <input
        phone
        class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('contato_telefone') }"
        formControlName="contato_telefone"
        placeholder="digite o telefone do contato do estabelecimento"
        name="contato_telefone"
        maxlength="50"
      />
    </div>

    <div class="form-group">
      <label>Endereço do Estabelecimento</label>
      <input
        class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('contato_endereco') }"
        formControlName="contato_endereco"
        placeholder="digite o endereço do contato do estabelecimento"
        name="contato_endereco"
        maxlength="300"
      />
    </div>
    <!-- <div class="form-group date-group">
      <label>Data de expiração</label>
      <p-calendar
        [locale]="pt"
        placeholder="data de expiração"
        (onSelect)="setDateValue($event)"
        formControlName="dateTemp"
        dateFormat="dd/M/yy"
      >
      </p-calendar>
    </div>

    <div class="form-group">
      <label>Ativo?</label>
      <label class="required-info-asterisk">*</label>
      <input
        class="form-control"
        type="checkbox"
        [ngClass]="{ 'is-invalid': isFieldInvalid('ativo') }"
        formControlName="ativo"
        name="ativo"
      />
    </div> -->
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn bg-dark"
    [disabled]="!establishmentForm.valid"
    (click)="save()"
  >
    {{ establishment?.id ? "Salvar" : "Cadastrar" }}
  </button>
</div>
