<div class="main-panel">

  <div class="main-content h-100">
    
      <div class="row justify-content-center">
        <div class="col align-self-center">
          <div class="card card-login">
            <div class="card-header">
              <h2 class="card-title">App Slider</h2>
              <p class="subtitle">Preencha seus dados de login para iniciar seu acesso ao recursos do panel.</p>
            </div>
            <div class="card-body text-center">

              <form class="form-signin">
                <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                  height="72"> -->
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <label for="inputEmail" class="sr-only">Usuário</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                  autofocus="">
                  <br/>
                <label for="inputPassword" class="sr-only">Senha</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <br/>
                <!-- <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Lembrar-me?
                  </label>
                </div> -->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                <p class="mt-5 mb-3 text-muted">© MidiaFone 2019</p>
              </form>


            </div>


          </div>
        </div>
      </div>
  </div>
</div>