/* You can add global styles to this file, and also import other style files */
p.subtitle{
    margin-top: -5px;
    font-size: 14px;
    color: rgb(154, 154, 154);
}

// .btn-primary{
//     background-color: black;
// }

.search-container{    
    padding-top: 10px;

    i.ui-1_zoom-bold{
        cursor: pointer;
    }
}

/* prime ng custom */
.ui-table-thead {
    tr{
        border-bottom: 1px solid black;

        th{
            padding: 0.5rem !important;
            border: none !important;
            background-color: inherit !important;
        }
    }
}

.ui-table-tbody {
    tr{
        border-bottom: 1px solid lightgray;
        background-color: inherit !important;

        td{
            padding: 0.75rem 0.5rem !important;
            border: none !important;
        }
    }
}

p-paginator{
    margin-top: 10px;
    display: block;

    .ui-paginator{
        background-color: white !important;
        border: none !important;
    }
}


p-dropdown{
    background-color: white;

    .ui-dropdown-filter-container{
        background-color: white;
    }
    
    .ui-dropdown {
        border: 1px solid lightgray;
        border-radius: 30px;
        
        .ui-dropdown-label.ui-placeholder, .ui-dropdown-label{
            font-size: 0.79rem;
            padding: 9px 20px;
            border-radius: 35px;
        }

        .ui-dropdown-trigger{
            margin: 0px 5.5px;
            border-radius: 35px;
        }

        .ui-dropdown-items.ui-dropdown-list{
            background-color: white;

            li{
                text-indent: 0;
                border-bottom: 1px solid lightgray;
                padding: 8px 20px;
                
                &:last-child{
                    border-bottom: none;
                }

                &:hover{
                    background-color: #eee
                }
            }
        }
    }
}

/* prime ng custom end */

.form-group{
    margin-bottom: 20px;

    input[type='checkbox']{
        display: inline-block;
        width: 50px;
        height: 25px;
        position: absolute;
        margin: -5px 15px;
    }    
}