/* You can add global styles to this file, and also import other style files */
p.subtitle{
    margin-top: -5px;
    font-size: 14px;
    color: rgb(154, 154, 154);
}

// .btn-primary{
//     background-color: black;
// }