td { 
    > a {
        font-weight: bold;

        &:hover{
            color: #f96332;
            text-decoration: underline;
        }
    }

    a {
        cursor: pointer;
        margin: 0 2px;  

        i {
            font-size: 1.25rem;
            vertical-align: middle;

            &:hover{
                color: #f96332;
            }
        }
    }
}