<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <h5 class="title">Seja bem vindo ao AppSlider da MidiaFone.</h5>
              <p class="subtitle">Escolha as opções ao lado para manter as informações no sistema!</p>
            </div>
          </div>

        </div>
        <!-- <div class="card-body">
          
        </div> -->
      </div>
    </div>
  </div>
</div>